.ruleBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.rules {
    width: 100%;
    height: auto;
    border-radius: 12px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.61);
}

.headText {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.863);
    line-height: 20px;
    padding: 15px 0px;
}

.about p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.about p:last-child {
    margin: 0px;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.863);;
    line-height: 20px;
    padding: 15px 0px;
}

.problem p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.problem p {
    margin: 0px;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.863);;
    line-height: 20px;
    padding: 15px 0px;
}

.orePool p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.orePool p {
    margin: 0px;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.863);;
    line-height: 20px;

}

.address p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.token_box p:first-child {
    font-size: 18px;
    color:rgba(0, 0, 0, 0.863);;
    margin-bottom: 10px;
    padding: 0px;
}

.token_box div {
    margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.863);;
    font-size: 18px;
    -webkit-word-break: break-all;
    -moz-word-break: break-all;
    -ms-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;

}

.timeBox p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.timeBox p:last-child {
    font-size: 20px;
    color:rgba(0, 0, 0, 0.863);;
    padding: 0px;
}

.government p:first-child {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0px;
    color:rgba(0, 0, 0, 0.863);;
}

.government p:last-child {
    font-size: 20px;
    color:rgba(0, 0, 0, 0.863);;

    padding: 0px;
}