.hide {
    display: none;
}

.header_box {
    margin-top: 100px;
}

.neck_box {
    display: flex;
    justify-content: center;
}

.text_introduce {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.title_text {
    font-size: 38px;
    text-align: center;
    color: "blue";
    margin: 0px;
}



.ant-col {
    margin-bottom: 10px;
}

.forest_box {
    width: 300px;
    height: 339px;
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 0px 40px;
    box-shadow: 1px 4px 6px #607CFF;
    overflow: hidden;
}

.showImage_forestBox {
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px;
}

.showImage_forest {
    width: 80px;
    height: 80px;
}

.forestBoxTitle {
    color: #6180FF;
    font-size: 22px;
    font-weight: Bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pledge_forest p {
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}



.copy_text {
    display: flex;
    justify-content: center;
    align-items: center;

}

.copy_text p {
    margin: 0%;

}

.willBtn {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: #999;
    font-size: 18px;
    font-weight: 600;
    background: #f5f5f5;
    margin-top: 20px;

    /* box-shadow: 1px 4px 4px #607dff88; */
}

/* .willBtn:hover {
    border: none;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right,#6FD1F8,#607CFF);
} */
.selectBtn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: #607CFF;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    margin-top: 20px;
    border: 1px solid #607dff62;
    /* box-shadow: 1px 4px 4px #607dff88; */
}



.selectBtn:hover {
    border: none;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #6FD1F8, #607CFF);
    
}

.forestBox_foot {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#a {
    color: black;
}

.bbb {
    width: 150px;
    height: 150px;
    position: absolute;
    background: rgb(71, 195, 245);
    top: -75px;
    right: -75px;
    transform: rotate(45deg);
    color: #fff;
}

.bbb span {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 150px;
    text-align: center;
}

.bbb .endIcon {
    position: absolute;
    bottom: 30px;
    display: block;
    width: 150px;
    text-align: center;
    font-size: 20px;
}