.App {
  text-align: center;

}

.App-logo {
  width: 200px;
  height: 200px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.country {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ant-menu {
  background: none;
  font-size: 16px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding: 0px;
}

.hide {
  display: none;
}

.navBox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 60px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left img {
  width: 50px;
  height: 50px;
}

.header img {
  width: 30px;
  height: 30px;
}

.underline {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.ant-menu-item {
  width: auto;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  margin-bottom: 2px;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-layout-header {
  height: auto;
  line-height: 40px;
  background: #fff;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-submenu {
  width: 60px;
  border: #fff;
  text-align: center;
  margin: 10px 20px;
}

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #5a5a5a;
  border: 1px solid #1890ff;
}

.layout_content {
  background-image: url(./assets/img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1890ff;
  min-height: 1000px;
}



/* .App-link {
  color: #61dafb;
} */

/* .ant-menu{
  width: 100px;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.footer_box li {
  list-style: none;
  margin: 0px 2vw;
}

/* 代码整理：大头网 www.datouwang.com */
* {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.ghost {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 100px;
  left: 200px;

  animation: ghostUpdown 1.5s infinite alternate;
  -webkit-animation: ghostUpdown 1.5s infinite alternate;
}

.ghostBody {
  width: 100px;
  height: 100px;
  float: left;
  background: rgba(255, 255, 255, 0.692);
  filter: blur(2px);
  border-radius: 100%;

}

dl,
ol,
ul {
  margin-bottom: 0px;
}

@keyframes ghostUpdown {
  from {
    margin-top: 100px;
  }

  to {
    margin-top: 70px;
  }
}

@-webkit-keyframes ghostUpdown {
  from {
    margin-top: 100px;
  }

  to {
    margin-top: 70px;
  }
}

@keyframes shadow {
  from {
    margin-top: 70px;
    opacity: 0.3;
  }

  to {
    margin-top: 100px;
    opacity: 0.1;
  }
}

@-webkit-keyframes shadow {
  from {
    margin-top: 70px;
    opacity: 0.3;
  }

  to {
    margin-top: 100px;
    opacity: 0.1;
  }
}